<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="evilfoca.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <evilfoca.Settings>
            <setting name="Interface" serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="UseRealDHCPData" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="DHCPFakeServerMAC" serializeAs="String">
                <value />
            </setting>
            <setting name="DHCPFakeServerIP" serializeAs="String">
                <value />
            </setting>
            <setting name="IPRoutingEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DiscoverWithRouterAdvertisement" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DiscoverWithPingMulticastIpv6" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="DiscoverWithArpScan" serializeAs="String">
                <value>True</value>
            </setting>
        </evilfoca.Settings>
    </userSettings>
</configuration>